
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.navbar{
  font-weight: var(--weight-bold);
  border-bottom: var(--color-light-grey) 1px solid;
  padding: 2vh;
}

.login{

  align-self: center;
  height: 50%;
  width: 50%;
  margin-top: 30vh;
  border: var(--color-light-grey) 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.sentence{
  font-weight: var(--weight-semi-bold);
  margin: 4vh 5vh 1vh 5vh;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh 5vh 4vh 5vh;
}
#id{
  height: 3vh;
  border-radius: 5px;
}
#submit{
  width:100%;
  margin-top: 3vh;
  border-radius: 5px;
  background-color: #fe918d;
  color: #ffffff;
  font-weight: 500;
}

